.contact {
  background-image: url(/img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.contact__text {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  font-size: 2rem;
}