.fv {
  height: 100vh;
  min-height: 550px;
  position: relative;
  background-size: cover;
  background-position: center;

  img {
    height: 100vh;
    min-height: 550px;
    object-fit: cover;
  }
}

.main__copy {
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: #fff;
  font-weight: bold;

  @include mq('sp') {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
  }
}

.en__copy {
  font-size: 7rem;
  margin-bottom: 31px;

  @include mq('sp') {
    font-size:9.8vw;
    white-space: nowrap;
  }
}

.ja__copy {
  font-size: 4rem;
  text-align: center;

  @include mq('sp') {
    font-size:8vw;
    line-height: 4rem;
  }
}

.slick-arrow {
  display: none !important;
}