.works {
  background-image: url(/img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.works__list {
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;

  @include mq('sp') {
    display: block;
    padding: 0 4vw;
    margin-bottom: 80px;
  }
}

.works__item {
  width: 32%;
  background: #fff;

  @include mq('sp') {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.works__list__text {
  padding: 25px 20px;
}